<footer class="container-fluid text-center bg-light" align="center">
	<div class="row">
		<section class="col">
			Colonne 1
		</section>
		<section class="col">
			Colonne 2
		</section>
		<section class="col">
			Colonne 3
		</section>
        <section class="col">
            <a class="nav-link" href="{{ path('credits') }}">Crédits</a>
        </section>
	</div>
</footer>
